.App {
  text-align: center;
}

.Selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.SelectorTitle {
  margin-right: 10px;
  vertical-align: middle;
}

.Schedule {
  display: flex;
  justify-content: center;
}

.Links {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}
