.App {
  text-align: center;
}

.Selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.SelectorTitle {
  margin-right: 10px;
  vertical-align: middle;
}

.Schedule {
  display: flex;
  justify-content: center;
}

.Links {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.text-link {
  border-radius: 25px;
  border: 2px solid #1B365D;
  padding: 10px;
  background: #DDFFFF;
  color: #102037;
}
